<mmsdialog>
	<description author = "Chris" email  = "dynamicycs@gmail.com" desc   = ""/>
	<mainwindow w="100%" h="100%" margin="0" alignment="center" border.thickness="0" bgcolor="#000000a0"
		opacity="255" fadein="true" fadeout="true">

    	<menu class="default_menu" name="mymenu" >
		<menuitem widget.photos_image.image.name="pic/media.png" widget.photos_image.selimage.name="pic/media.png"
		widget.photos_image.data="pic/media.png" widget.photos_image_caption.text="#1 Fuerteventura, Aug 09"/>
		<menuitem widget.photos_image.image.name="pic/news.png" widget.photos_image.selimage.name="pic/news.png"
		widget.photos_image.data="pic/news.png" widget.photos_image_caption.text="#1 Fuerteventura, Aug 09"/>
		<menuitem widget.photos_image.image.name="pic/weather.png" widget.photos_image.selimage.name="pic/nweather.png"
		widget.photos_image.data="pic/weather.png" widget.photos_image_caption.text="#1 Fuerteventura, Aug 09"/>
	</menu>

	</mainwindow>
</mmsdialog>
