<mmsdialog>
	<description author = "Chris" email  = "dynamicycs@gmail.com" desc   = ""/>
	<mainwindow w="100%" h="100%" margin="0" alignment="center" border.thickness="0" bgcolor="#000000a0"
		opacity="255" fadein="true" fadeout="true">

		<childwindow name="childwin1" alignment="top-left" w="640px" h="370px" dx="0px" dy="0px"
			bgimage="pic/news.jpg"
			bgcolor="#00000000" border.thickness="8" border.color="#ff00ffff" border.rcorners="true"
			movein="down" moveout="left" show="true">
			<label class="myLabelClass" text="childwin1"/>
		</childwindow>

		<childwindow name="childwin2" alignment="top-right" w="640px" h="370px" dx="0px" dy="0px"
			bgimage="pic/video.png"
			bgcolor="#00000080" border.thickness="4" border.color="#ffff00ff" border.rcorners="true"
			movein="down" moveout="down" show="true">
			<label class="myLabelClass" text="childwin2"/>
		</childwindow>

		<childwindow name="childwin3" alignment="bottom-left" w="640px" h="370px" dx="0px" dy="-30px"
			bgimage="pic/device.jpg"
			bgcolor="#00000000" border.thickness="8" border.color="#ff00ffff" border.rcorners="true"
			movein="down" moveout="left" show="true">
			<label class="myLabelClass" text="childwin3"/>
		</childwindow>

		<childwindow name="childwin4" alignment="bottom-right" w="640px" h="370px" dx="px" dy="-30px"
			bgimage="pic/weather.jpg"
			bgcolor="#00000000" border.thickness="8" border.color="#ff00ffff" border.rcorners="true"
			movein="down" moveout="left" show="true">
			<label class="myLabelClass" text="childwin4"/>
		</childwindow>

	</mainwindow>
</mmsdialog>
